@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');
@import url('responsiveStyles.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(21, 26, 36);
  color: rgb(198, 202, 211);
  height: 98vh;
}

button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 4/3;

  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.4rem;

  border: none;
  border-radius: 4px;

  text-decoration: none;

  background-color: #465fec;
  color: white;

  transition: all 0.15s ease-in-out;
}

button:hover {
  background-color: #7381ff;
  cursor: pointer;
  top: -2px;
}

button:disabled {
  background-color: #63667c;
  color: rgb(173, 173, 173);
  cursor: default;
}

button:disabled:hover {
  top: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  padding-inline: 2%;
}

.container:has(.main-content) {
  height: 90%;
}

.hidden {
  display: none;
}

.main-content {
  width: 100%;
  max-width: 900px;
}

.testing-label {
  color: #a50024;
  background-color: #ffa1a1;

  font-weight: 600;
  margin-block: 1rem;
  padding: 10px;

  width: fit-content;
}

.reset-button {
  max-width: 8rem;
  background-color: #f73861;
}
