* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(21, 26, 36);
  color: rgb(198, 202, 211);
  height: 98vh;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 800;

  color: rgb(255, 223, 43);

  /* border: 1px solid yellow;
  background-color: rgba(255, 255, 0, 0.253); */
}

hr.title-hr {
  border: 2px solid white;
  border-radius: 5px;
  width: 20rem;
}

button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
  flex-shrink: 1;

  background-color: #465fec;
  color: white;

  font-size: 1.8rem;
  font-weight: 600;

  border: none;
  border-radius: 8px;

  padding: 16px 32px;
  text-decoration: none;

  top: 0;

  transition: all 0.15s ease-in-out;
}

button:hover {
  background-color: #7381ff;
  cursor: pointer;
  top: -2px;
}

button:disabled {
  background-color: #63667c;
  color: rgb(173, 173, 173);
  cursor: default;
}

button:disabled:hover {
  top: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding-inline: 2%;
}

.title {
  margin-bottom: 4rem;
}

.game-container {
  border: 5px solid rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  padding: 2%;
  max-width: 1000px;
}

.game-info-container {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hidden {
  display: none;
}

.main-content {
  width: 1200px;
}

.testing-label {
  color: #a50024;
  background-color: #ffa1a1;

  font-weight: 600;
  margin-block: 1rem;
  padding: 10px;

  width: fit-content;
}

#main-game-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-block: 2rem;
}

#sub-game-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#game-image-container {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 21/9;

  position: relative;

  border: 3px solid white;
  border-radius: 10px;
  overflow: hidden;
}

#game-image-caption-background {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  background-color: #465fec86;
  width: 100%;
  height: 100%;
}

#game-image-caption-text {
  position: absolute;
  top: 10px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

#game-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#word-display {
  overflow-wrap: break-word;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 3;

  height: fit-content;
  width: 100%;

  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 0.8rem;

  color: rgb(119, 201, 255);
  background-color: rgba(8, 102, 156, 0.521);

  border-radius: 8px;

  padding: 2rem 1rem;

  transition: letter-spacing 0.4s ease-out;
}

#word-display:hover {
  letter-spacing: 1.2rem;
}

#guesses-left {
  font-weight: 600;
  font-size: 1.8rem;
}

#guess-count {
  color: rgb(255, 92, 146);
  font-weight: 700;
  background-color: rgba(202, 11, 84, 0.356);
  padding-inline: 20px;
  border-radius: 50px;
}

#button-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, auto));

  position: relative;

  gap: 25px 10px;

  /* border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.226); */
}

#reset-button {
  max-width: 8rem;
  margin-top: 2rem;
  background-color: #f73861;
}

@media (max-width: 970px) {
  h1 {
    font-size: 3rem;
  }

  hr.title-hr {
    border: 3px solid white;
    border-radius: 5px;
    width: 15rem;
  }

  button {
    font-size: 1.4rem;
    padding: 8px 16px;
  }

  .title {
    margin-bottom: 2rem;
  }

  #button-group {
    grid-template-columns: repeat(auto-fill, minmax(2.8rem, auto));
  }

  #game-image-caption-text {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 1.2rem;
  }

  hr.title-hr {
    border: 2px solid white;
    border-radius: 5px;
    width: 6rem;
  }

  button {
    font-size: 0.8rem;
    padding: 4px 16px;
  }

  .game-container {
    border: 2px solid rgba(255, 255, 255, 0.39);
  }

  .title {
    margin-bottom: 1.2rem;
  }

  #button-group {
    grid-template-columns: repeat(auto-fill, minmax(1.8rem, auto));
    gap: 14px 8px;
  }

  #word-display {
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
  }

  #game-image-container {
    overflow: hidden;
    width: 100%;
  }

  #guesses-left {
    font-size: 1rem;
    font-weight: 500;
  }
}
